-- CreateEnum
CREATE TYPE "TenderStatus" AS ENUM ('draft', 'open_for_quotations', 'awarded', 'cancelled');

-- CreateEnum
CREATE TYPE "QuotationStatus" AS ENUM ('submitted', 'shortlisted', 'awarded', 'rejected');

-- CreateEnum
CREATE TYPE "WorkOrderStatus" AS ENUM ('created', 'in_progress', 'completed', 'cancelled');

-- CreateEnum
CREATE TYPE "WorkProofStatus" AS ENUM ('pending_verification', 'matched', 'unmatched_manual_review', 'rejected');

-- CreateEnum
CREATE TYPE "LinkPurpose" AS ENUM ('tender_submission', 'work_upload');

-- AlterTable
ALTER TABLE "call_state" ALTER COLUMN "finalized_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3);

-- CreateTable
CREATE TABLE "tenders" (
    "id" SERIAL NOT NULL,
    "tender_code" TEXT NOT NULL,
    "panchayat_id" INTEGER NOT NULL,
    "complaint_count" INTEGER NOT NULL,
    "required_quantity" INTEGER NOT NULL,
    "light_type" TEXT,
    "work_type" TEXT NOT NULL,
    "submission_deadline" TIMESTAMP(3) NOT NULL,
    "scoring_config" JSONB NOT NULL,
    "status" "TenderStatus" NOT NULL DEFAULT 'open_for_quotations',
    "created_by_user_id" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tenders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tender_complaints" (
    "id" SERIAL NOT NULL,
    "tender_id" INTEGER NOT NULL,
    "complaint_id" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tender_complaints_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tender_invite_links" (
    "id" SERIAL NOT NULL,
    "tender_id" INTEGER NOT NULL,
    "purpose" "LinkPurpose" NOT NULL,
    "token_hash" TEXT NOT NULL,
    "token_hint" TEXT,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "max_submissions" INTEGER,
    "used_count" INTEGER NOT NULL DEFAULT 0,
    "is_revoked" BOOLEAN NOT NULL DEFAULT false,
    "vendor_user_id" INTEGER,
    "work_order_id" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tender_invite_links_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "quotations" (
    "id" SERIAL NOT NULL,
    "tender_id" INTEGER NOT NULL,
    "vendor_user_id" INTEGER,
    "company_name" TEXT NOT NULL,
    "contact_person" TEXT NOT NULL,
    "mobile_number" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "price_per_light" DOUBLE PRECISION NOT NULL,
    "installation_cost" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total_cost" DOUBLE PRECISION NOT NULL,
    "delivery_days" INTEGER NOT NULL,
    "warranty_months" INTEGER NOT NULL,
    "seller_rating" DOUBLE PRECISION NOT NULL DEFAULT 3,
    "experience_years" INTEGER NOT NULL DEFAULT 1,
    "document_url" TEXT,
    "notes" TEXT,
    "score_breakdown" JSONB,
    "final_score" DOUBLE PRECISION,
    "status" "QuotationStatus" NOT NULL DEFAULT 'submitted',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "quotations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "work_orders" (
    "id" SERIAL NOT NULL,
    "work_order_code" TEXT NOT NULL,
    "tender_id" INTEGER NOT NULL,
    "quotation_id" INTEGER NOT NULL,
    "panchayat_id" INTEGER NOT NULL,
    "approved_by_user_id" INTEGER NOT NULL,
    "assigned_vendor_name" TEXT NOT NULL,
    "assigned_vendor_phone" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "status" "WorkOrderStatus" NOT NULL DEFAULT 'created',
    "due_date" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "work_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "work_order_items" (
    "id" SERIAL NOT NULL,
    "work_order_id" INTEGER NOT NULL,
    "complaint_id" INTEGER NOT NULL,
    "pole_id" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "work_order_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "work_proofs" (
    "id" SERIAL NOT NULL,
    "work_order_id" INTEGER NOT NULL,
    "complaint_id" INTEGER,
    "pole_id" INTEGER,
    "image_url" TEXT NOT NULL,
    "before_image_url" TEXT,
    "after_image_url" TEXT,
    "captured_at" TIMESTAMP(3),
    "uploaded_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "exif_latitude" DOUBLE PRECISION,
    "exif_longitude" DOUBLE PRECISION,
    "distance_meters" DOUBLE PRECISION,
    "adaptive_radius_meters" DOUBLE PRECISION,
    "match_confidence" DOUBLE PRECISION,
    "image_hash" TEXT,
    "status" "WorkProofStatus" NOT NULL DEFAULT 'pending_verification',
    "submitted_by_name" TEXT,
    "submitted_by_phone" TEXT,
    "verification_note" TEXT,

    CONSTRAINT "work_proofs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "complaint_resolution_audits" (
    "id" SERIAL NOT NULL,
    "complaint_id" INTEGER NOT NULL,
    "work_proof_id" INTEGER,
    "action" TEXT NOT NULL,
    "actor_type" TEXT NOT NULL,
    "actor_id" INTEGER,
    "note" TEXT,
    "metadata" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "complaint_resolution_audits_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "tenders_tender_code_key" ON "tenders"("tender_code");

-- CreateIndex
CREATE INDEX "tenders_panchayat_id_status_idx" ON "tenders"("panchayat_id", "status");

-- CreateIndex
CREATE INDEX "tender_complaints_complaint_id_idx" ON "tender_complaints"("complaint_id");

-- CreateIndex
CREATE UNIQUE INDEX "tender_complaints_tender_id_complaint_id_key" ON "tender_complaints"("tender_id", "complaint_id");

-- CreateIndex
CREATE UNIQUE INDEX "tender_invite_links_token_hash_key" ON "tender_invite_links"("token_hash");

-- CreateIndex
CREATE INDEX "tender_invite_links_tender_id_purpose_expires_at_idx" ON "tender_invite_links"("tender_id", "purpose", "expires_at");

-- CreateIndex
CREATE INDEX "quotations_tender_id_status_final_score_idx" ON "quotations"("tender_id", "status", "final_score");

-- CreateIndex
CREATE UNIQUE INDEX "work_orders_work_order_code_key" ON "work_orders"("work_order_code");

-- CreateIndex
CREATE UNIQUE INDEX "work_orders_quotation_id_key" ON "work_orders"("quotation_id");

-- CreateIndex
CREATE INDEX "work_orders_panchayat_id_status_idx" ON "work_orders"("panchayat_id", "status");

-- CreateIndex
CREATE INDEX "work_order_items_pole_id_idx" ON "work_order_items"("pole_id");

-- CreateIndex
CREATE UNIQUE INDEX "work_order_items_work_order_id_complaint_id_key" ON "work_order_items"("work_order_id", "complaint_id");

-- CreateIndex
CREATE UNIQUE INDEX "work_proofs_image_hash_key" ON "work_proofs"("image_hash");

-- CreateIndex
CREATE INDEX "work_proofs_work_order_id_status_idx" ON "work_proofs"("work_order_id", "status");

-- CreateIndex
CREATE INDEX "work_proofs_complaint_id_idx" ON "work_proofs"("complaint_id");

-- CreateIndex
CREATE INDEX "complaint_resolution_audits_complaint_id_created_at_idx" ON "complaint_resolution_audits"("complaint_id", "created_at");

-- AddForeignKey
ALTER TABLE "tenders" ADD CONSTRAINT "tenders_panchayat_id_fkey" FOREIGN KEY ("panchayat_id") REFERENCES "panchayats"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tenders" ADD CONSTRAINT "tenders_created_by_user_id_fkey" FOREIGN KEY ("created_by_user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tender_complaints" ADD CONSTRAINT "tender_complaints_tender_id_fkey" FOREIGN KEY ("tender_id") REFERENCES "tenders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tender_complaints" ADD CONSTRAINT "tender_complaints_complaint_id_fkey" FOREIGN KEY ("complaint_id") REFERENCES "complaints"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tender_invite_links" ADD CONSTRAINT "tender_invite_links_tender_id_fkey" FOREIGN KEY ("tender_id") REFERENCES "tenders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tender_invite_links" ADD CONSTRAINT "tender_invite_links_vendor_user_id_fkey" FOREIGN KEY ("vendor_user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tender_invite_links" ADD CONSTRAINT "tender_invite_links_work_order_id_fkey" FOREIGN KEY ("work_order_id") REFERENCES "work_orders"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quotations" ADD CONSTRAINT "quotations_tender_id_fkey" FOREIGN KEY ("tender_id") REFERENCES "tenders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quotations" ADD CONSTRAINT "quotations_vendor_user_id_fkey" FOREIGN KEY ("vendor_user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_orders" ADD CONSTRAINT "work_orders_tender_id_fkey" FOREIGN KEY ("tender_id") REFERENCES "tenders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_orders" ADD CONSTRAINT "work_orders_quotation_id_fkey" FOREIGN KEY ("quotation_id") REFERENCES "quotations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_orders" ADD CONSTRAINT "work_orders_panchayat_id_fkey" FOREIGN KEY ("panchayat_id") REFERENCES "panchayats"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_orders" ADD CONSTRAINT "work_orders_approved_by_user_id_fkey" FOREIGN KEY ("approved_by_user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_order_items" ADD CONSTRAINT "work_order_items_work_order_id_fkey" FOREIGN KEY ("work_order_id") REFERENCES "work_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_order_items" ADD CONSTRAINT "work_order_items_complaint_id_fkey" FOREIGN KEY ("complaint_id") REFERENCES "complaints"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_order_items" ADD CONSTRAINT "work_order_items_pole_id_fkey" FOREIGN KEY ("pole_id") REFERENCES "electric_poles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_proofs" ADD CONSTRAINT "work_proofs_work_order_id_fkey" FOREIGN KEY ("work_order_id") REFERENCES "work_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_proofs" ADD CONSTRAINT "work_proofs_complaint_id_fkey" FOREIGN KEY ("complaint_id") REFERENCES "complaints"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "work_proofs" ADD CONSTRAINT "work_proofs_pole_id_fkey" FOREIGN KEY ("pole_id") REFERENCES "electric_poles"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "complaint_resolution_audits" ADD CONSTRAINT "complaint_resolution_audits_complaint_id_fkey" FOREIGN KEY ("complaint_id") REFERENCES "complaints"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "complaint_resolution_audits" ADD CONSTRAINT "complaint_resolution_audits_work_proof_id_fkey" FOREIGN KEY ("work_proof_id") REFERENCES "work_proofs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

